@charset "utf-8";

@font-face {
  font-family: 'DINPro_L';
  font-style: normal;
  font-weight: normal;
  src: local('DINPro-Light'), url('font/DINPro-Light.woff') format('woff');
}

@font-face {
  font-family: 'DINPro_B';
  font-style: normal;
  font-weight: normal;
  src: local('DINPro-Bold'), url('font/DINPro-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'DINPro_R';
  font-style: normal;
  font-weight: normal;
  src: local('DINPro-Regular'), url('font/DINPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'DINPro_M';
  font-style: normal;
  font-weight: normal;
  src: local('DINPro-Medium'), url('font/DINPro-Medium.otf') format('opentype');
}

* {
  margin: 0;
  font-family: sans-serif;
}

html {
  line-height: 1.15;
}

body {
  background-color: #f3f7fa;
  letter-spacing: -0.05em;
  word-spacing: -0.05em;
}

div.wrap {
  width: 1174px;
  margin: 0 auto;
  padding-top: 60px;
}

div.wrap ul {
  display: flex;
  list-style: none;
}

div.wrap ul li {
  width: 230px;
  margin: 0 3px 6px;
}

div.wrap ul li div.myshop {
  position: relative;
  width: 230px;
  height: 300px;
  background-color: #fff;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

div.myshop p.myshop-title {
  font-family: DINPro_L;
  font-size: 20px;
  font-weight: 400;
  color: grey;
  letter-spacing: -1px;
  text-align: center;
  padding: 45px 0 0;
}

div.myshop p.myshop-title strong {
  font-family: DINPro_B;
  font-weight: 400;
}

div.myshop p.myshop-title::before {
  content: '';
  display: block;
  width: 90px;
  height: 90px;
  margin: 0 auto 22px;
  background-image: url('https://www.sta1.com/_nuxt/img/icon-myshop@3x.00de977.png');
  background-size: cover;
}

div.count {
  display: flex;
  color: #909090;
  margin-top: 35px;
}

div.count span {
  position: relative;
  flex: 1;
  text-align: center;
  font-family: DINPro_L;
  font-size: 12px;
}

div.count span:first-child::after {
  content: '';
  display: block;
  width: 1px;
  height: 60px;
  background-color: #edeff0;
  position: absolute;
  right: -1px;
  top: 0;
}

div.count span:last-child em {
  color: #ff6b00;
}

div.count span em {
  display: block;
  font-size: 26px;
  font-style: normal;
  padding-top: 20px;
}

/*나이키*/

.img img {
  width: 100%;
  height: 100%;
  width: 90px;
  height: 90px;
  border-radius: 100%;
}

img {
  border-style: none;
}

div.wrap ul li div.nikey {
  position: relative;
  width: 230px;
  height: 300px;
  background-color: #fff;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

div.wrap ul li i.ranking {
  position: absolute;
  top: 12px;
  left: 12px;
  color: #ff6b00;
  font-style: normal;
  font-size: 12px;
}

div.wrap ul li div.info {
  top: 45px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  color: #909090;
  width: 100%;
  top: 45px;
  text-align: center;
}

.shop-name {
  padding: 19px 0 15px;
  color: #303030;
  font-size: 15px;
  display: block;
  overflow: hidden;
  width: 85%;
  margin: 0 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  text-align: center;
  top: 135px;
}
.old {
  padding: 19px 0 15px;
  color: #909090;
  font-size: 13px;
  margin: 0 auto;
  position: relative;
  top: 120px;
  text-align: center;
}
.kind {
  padding: 19px 0 15px;
  color: #909090;
  font-size: 13px;
  margin: 0 auto;
  position: relative;
  top: 90px;
  text-align: center;
}

.btn {
  border-top: 0.1ch solid #909090;
  position: absolute;
  width: 230px;
  height: 40.67px;
  top: 320px;
  cursor: pointer;
}

#box1 {
  width: 115.33px;
  height: 40px;
}

a {
  position: relative;
  font-size: 11px;
  color: #909090;
  background-color: transparent;
  text-decoration: none;
  align-items: center;
  left: 36px;
  top: 9px;
}

.button_myshop {
  position: absolute;
  background-color: transparent;
  width: 115.33px;
  height: 40px;
  border: none;
  top: 0px;
  left: 115px;
  border-left: 0.1ch solid #909090;
}

#마이샵 {
  position: absolute;
  left: 20px;
  top: 12px;
  color: #909090;
  font-size: 11px;
  width: 50%;
}

#plus1 {
  position: absolute;
  left: 70px;
  top: 10px;
  color: #909090;
  font-size: 13px;
  font-style: normal;
}
